{% extends 'nebulanotes_app/base.html' %}

{% block content %}
<h1>Object: </h1>
<p>{{ object.name }} </p>
<h2>Description: </h2>
<p>{{ object.description }} </p>
<h2>Type: </h2>
<p>{{ object.type }} </p>
<h2>Galaxy: </h2>
<p>{{ object.galaxy }} </p>
<h2>Distance from the Earth in light years: </h2>
<p>{{ object.distance_from_earth }} </p>
{% if object.image %}
<img src="{{ object.image.url }}" alt="Image of {{ object.name }}">
{% endif %}
{% if object.discovery_year %}
<h2>Discovery year:</h2>
<p>{{ object.discovery_year }} </p>
{% endif %}

<h5><a href="{% url 'object-update' object.id %}">Edit</a> </h5>
<h5><a href="{% url 'object-delete' object.id %}">Delete</a> </h5>
<h5>Add notes</h5>

{% endblock %}