{% extends 'nebulanotes_app/detail_template.html' %}

{% block content %}
    {% with title="Event" update_url='event-update' delete_url='event-delete' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{##}
{#{% block content %}#}
{#<h1>Event: </h1>#}
{#<p>{{ event.name }} </p>#}
{#<h2>Description: </h2>#}
{#<p>{{ event.description }} </p>#}
{#<h2>Date: </h2>#}
{#<p>{{ event.date }} </p>#}
{#<h2>Related objects: </h2>#}
{#<ul>#}
{#    {% for related_object in event.related_objects.all %}#}
{#    <li> {{ related_object.name }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#<h5><a href="{% url 'event-update' event.id %}" class="btn btn-success" >Edit</a> </h5>#}
{#<h5><a href="{% url 'event-delete' event.id %}" class="btn btn-success">Delete</a> </h5>#}
{#{% endblock %}#}