{% extends 'nebulanotes_app/list_template.html' %}


{% block content %}
    {% with title="Types of astronomical objects 🪐" objects=object_types %}
        <h2>{{ title }}</h2>
        <ul class="list-group">
            {% for object_type in objects %}
                <li class="list-group-item">
                    <strong>{{ object_type.name }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% endwith %}

<h5><a href="{% url 'create-object-type' %}" class="btn btn-success">Add a new type</a></h5>
{% endblock %}